.row{
    display: flex;
    flex-direction: row;
    padding: 1rem 1rem 0 1rem;
}
.checkout-steps > div{
    display: flex;
    border-top: 0.3rem #c0c0c0 solid;
    color: #c0c0c0;
    flex: 1;
    padding: 1rem;
    
}

.checkout-steps>div.active{
    border-top-color:#f08000;
    color:#f08000;
}